@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
  @apply flex flex-col items-center justify-center py-8;
}

.spinner {
  @apply animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500 mb-4;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
